# Quarto output files
*.html
*_files/
*_cache/
/.quarto/
_output/

# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.bak
*.swp
*~

# Logs
*.log

# R environment
.Renviron

**/*.quarto_ipynb
